{% extends "base.html" %}
{% block content %}
    <!-- Jumbotron Header -->
    <header class="jumbotron my-4 bg-image-full" style="background-image: url('/static/img/NYC Harbor 1919.jpg'); background-size: cover; background-repeat: no-repeat;">
      <h1 class="display-3">.</h1>
      <p class="lead">.</p>
    </header>

    <div class="row">
      <div class="col-lg-12 col-md-12 mb-12">
        <p>The City of New York’s  <strong>Harbor Survey Program</strong>
           has been in existence since 1909, a span 
          of over 100 years.
          During the last decade, water quality in New York Harbor has improved to the point that 
          many waterways are now utilized for recreation and commerce throughout the year.
        </p>
        <p>This visualization is designed to show the progress over time.</p>
        <br>
        </div>
    </div>

    <div class="row text-center">

      <div class="col-lg-3 col-md-3 mb-3">
        <div class="card h-100" >
          <img class="card-img-top" src="/static/img/Line-Icon4.png" alt="Line plots" style="background-color:lightgray;">
          <div class="card-body">
            <h4 class="card-title">Line Plots</h4>
            <p class="card-text">Click below to see visualization using line graphs.</p>
          </div>
          <div class="card-footer">
            <a class="btn btn-primary" rel="noopener" href="/line_plots" role="button">View Line plots</a>
           
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 mb-3">
        <div class="card h-100">
          <img class="card-img-top" src="/static/img/scatter plot 2.jpg" alt="Scatter Plot Icon" style="background-color: lightgray;">
          <div class="card-body">
            <h4 class="card-title">Scatter plot</h4>
            <p class="card-text">Click below to see visualization using scatter graphs..</p>
          </div>
          <div class="card-footer">
            <a href="/scatter_plot" class="btn btn-primary">View scatter plots</a>
          </div>
        </div>
      </div>


      <div class="col-lg-3 col-md-3 mb-3">
        <div class="card h-100">
          <img class="card-img-top" src="/static/img/zing1.jpg" alt="Scatter Plot Icon" style="background-color: lightgray;">
          <div class="card-body">
            <h4 class="card-title">Zing plot</h4>
            <p class="card-text">Click below to see visualization using zing graphs.</p>
          </div>
          <div class="card-footer">
            <a href="/zing_plot" class="btn btn-primary">View zing plots</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 mb-3">
        <div class="card h-100">
          
          <img class="card-img-top" src= '/static/img/NY Harbor Landscape.jpg'alt ="NY Harbor">
          <div class="card-body">
            <h4 class="card-title">NYC Harbor</h4>
            <p class="card-text">Click below to see visualization using Geo map.</p>
          </div>
          <div class="card-footer">
            <a href="/google_map" class="btn btn-primary">View Geo map</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 mb-3">
        <div class="card h-100">
          <img class="card-img-top" src="/static/img/Recreational activity NYC.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title"> Activity NYC Harbor</h4>
            <p class="card-text">Click below to see visualization using Geo map.</p>
          </div>
          <div class="card-footer">
            <a href="/google_map1" class="btn btn-primary">View Geo map1</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 mb-3">
        <div class="card h-100">
          <img class="card-img-top" src="/static/img/data Icon.jpg" alt="Data">
          <div class="card-body">
            <h4 class="card-title">Data</h4>
            <p class="card-text">The span of this data is over 100yrs.</p>
          </div>
          <div class="card-footer">
            <a href="/data" class="btn btn-primary">View data</a>
          </div>
        </div>
      </div>

    </div>
    <!-- /.row -->
{% endblock %}
