{% extends "base.html" %}
{% block content %}

    <div class="row">
      <div class="col-lg-12 col-md-12 mb-12">
        <p>Line Map Page</p>
        <br>
        </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12 mb-12">
        <p><strong>Dissolved Oxygen</strong> - The oxygen dissolved in the water column is critical to respiration in most aquatic life forms,
           including fish and invertebrates, and is one of the important indicators of overall water quality.</p>
      </div>
    </div>    

    <div class="row">
      <div class="col-lg-12 col-md-12 mb-12">
        <img src="{{ image1 }}"/>
      </div>
    </div>



    <div class="row">
      <div class="col-lg-12 col-md-12 mb-12">
        <p><b>Coliform bacteria</b> are found in human and animal
          intestines and are associated with wastewater. These
          bacteria are widely used to indicate the possible
          presence of pathogenic (disease-producing)
          bacteria</p>
      </div>
    </div>    

    
    <div class="row">
      <div class="col-lg-12 col-md-12 mb-12">
        <img src="{{ image2 }}"/>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-12 col-md-12 mb-12">
        <p> The US Environmental Protection Agency recommends <b>enterococci</b> as
          the best indicator of health risk in salt water used for recreation. Bacteria counts are calculated as
          summer geographic means for May to October.35 cells/100 mL for Entero</p>
      </div>
    </div>        

    <div class="row">
      <div class="col-lg-12 col-md-12 mb-12">
        <img src="{{ image3 }}"/>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12 mb-12">
        <p>Zing Chart</p>
      </div>
    </div>    

    <div class="row">
      <div class="col-lg-12 col-md-12 mb-12">
        <img src="{{ image4}}"/>
      </div>
    </div>
    

    <div class="row">
      <div class="col-lg-12 col-md-12 mb-12">
        <p></p>
      </div>
    </div>    
    

{% endblock %}
